.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mymodal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  width:40%;
  height: 60%;
  color: rgb(42, 77, 153);
  font-weight: 500;
  background-color: #fff;
  border: 2px solid rgb(61, 87, 128);
  border-radius: 40px;
  margin: 20px;
  padding: 20px;
}

.content {
  border-style: hidden;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 40px;
  padding-top: 30px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
}

.content.header {
  margin-right: 400px;
}


.inner {
  display: inline-block;
  border-style: hidden;
  padding-right: 40px;
  margin-right: 40px;
  margin-top: 10px;
}

.warning {
  color: #806520;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  -moz-backdrop-filter: blur(8px);
}

.result {
  font-weight: 500;
  font-size: 1.25em;

} 

 .inlineTable {
  float: left;
  border-style: hidden;
  padding-right: 20px;
  margin-right: 20px;
  padding-left: 20px;
  margin-left: 20px;
  background-color: #fff;
}

.table-body {
  display: table;
  width:100%;
  display: table-header-group;
  font-weight: bold;
  border-collapse: separate;
  background-color: #fdfdfe;
}

.table-body tr:hover {
  color: rgb(199, 101, 101);
}

th, td {
  border-bottom: 1px solid rgb(164, 174, 180);
}
